<tr>
  <td><%=admin_product.name%></td>
  <td><%=admin_product.description%></td>
  <td>Rs <%=admin_product.price%></td>
  <td> <%= link_to 'Edit', edit_admin_product_path(admin_product), method: :get %></td>
  <td> <%= link_to 'Delete', admin_product_path(admin_product), method: :delete %></td>
</tr>
