<h1>Add a Product</h1>
<%= simple_form_for [:admin, @product] do |f| %>
    Name: <%= f.text_field :name %><br>
    Description: <%= f.text_field :description %><br>
    Price: <%= f.text_field :price %><br>  
    <% if @product.image.attached? %>
      <%= image_tag @product.image, style: "width: 200px; display: block"%>
    <%end%>
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
    <%=f.association :categories, collection: Category.all, as: :check_boxes, include_hidden: false %>
    <%=f.button :submit %>
<%end%>
<%= link_to 'Back to Product List', admin_products_path %>
